This Notebook will use Pandas and Python to analyze a hyphothetical bicyle trip from New York to Key West

In [ ]:

# miles from new york to key west 1,436
# bring in NumPy and pandas

import numpy as np
import pandas as pd

# create one item Series
cumulative_miles = pd.Series([55, 120, 150, 180, 210, 250, 290, 330, 370, 420, 470, 510, 560, 600, 660, 710, 780, 830, 880, 940, 980, 1100, 1170, 1230, 1290, 1370, 1436], index=['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5', 'Day 6', 'Day 7', 'Day 8', 'Day 9', 'Day 10', 'Day 11', 'Day 12', 'Day 13', 'Day 14', 'Day 15', 'Day 16', 'Day 17', 'Day 18', 'Day 19', 'Day 20', 'Day 21', 'Day 22', 'Day 23', 'Day 24', 'Day 25', 'Day 26', 'Day 27'])
daily_miles = cumulative_miles.diff()
daily_miles.iloc[0] = cumulative_miles.iloc[0]

In [2]:
# Display cumulative miles
print("Cumulative Miles (Odometer miles):")
print(cumulative_miles)

print("\n" + "="*50 + "\n")

# Display daily miles
print("Daily Miles Ridden:")
print(daily_miles)

Cumulative Miles (Odometer miles):
Day 1       55
Day 2      120
Day 3      150
Day 4      180
Day 5      210
Day 6      250
Day 7      290
Day 8      330
Day 9      370
Day 10     420
Day 11     470
Day 12     510
Day 13     560
Day 14     600
Day 15     660
Day 16     710
Day 17     780
Day 18     830
Day 19     880
Day 20     940
Day 21     980
Day 22    1100
Day 23    1170
Day 24    1230
Day 25    1290
Day 26    1370
Day 27    1436
dtype: int64

==================================================

Daily Miles Ridden:
Day 1      55.0
Day 2      65.0
Day 3      30.0
Day 4      30.0
Day 5      30.0
Day 6      40.0
Day 7      40.0
Day 8      40.0
Day 9      40.0
Day 10     50.0
Day 11     50.0
Day 12     40.0
Day 13     50.0
Day 14     40.0
Day 15     60.0
Day 16     50.0
Day 17     70.0
Day 18     50.0
Day 19     50.0
Day 20     60.0
Day 21     40.0
Day 22    120.0
Day 23     70.0
Day 24     60.0
Day 25     60.0
Day 26     80.0
Day 27     66.0
dtype: float64

In [ ]:
# Create a DataFrame combining both Series to visualize the data together

bike_trip = pd.DataFrame({
    'Cumulative Miles': cumulative_miles,
    'Daily Miles': daily_miles
})

# Display the DataFrame
bike_trip

        Cumulative Miles  Daily Miles
Day 1                 55         55.0
Day 2                120         65.0
Day 3                150         30.0
Day 4                180         30.0
Day 5                210         30.0
Day 6                250         40.0
Day 7                290         40.0
Day 8                330         40.0
Day 9                370         40.0
Day 10               420         50.0
Day 11               470         50.0
Day 12               510         40.0
Day 13               560         50.0
Day 14               600         40.0
Day 15               660         60.0
Day 16               710         50.0
Day 17               780         70.0
Day 18               830         50.0
Day 19               880         50.0
Day 20               940         60.0
Day 21               980         40.0
Day 22              1100        120.0
Day 23              1170         70.0
Day 24              1230         60.0
Day 25              1290         60.0
Day 26              1370         80.0
Day 27              1436         66.0